.pagination {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
}

.page-item{
    list-style-type: none;
}
.page-link{
    color: white;
    height: 35px;
    width: 35px;
    text-align: center;
    padding: 8px 16px;
    text-decoration: none;
    background: var(--row-bg);
    border-radius: 50%;
    margin:auto;
    margin-left: 5px;
    color: var(--accent);
    cursor: pointer;
}

.page-link:hover{
    background: linear-gradient(var(--hover), var(--hover));
    color: white
}
